//  Generals Functions or Methods

// Function to convert px to em
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

/*
Funtion to  take any value and strip the unit off
Useful to conevert px to rem
*/
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
// 
@function to-rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($browser-context)}rem;
}

// Mixins

// Applied for Menu hide
@mixin nav-position-responsive($width) {
    position: absolute;
    order:3;
    transform: scale(0);
    // Define width value
    width: $width;
}

// Applied to show Navigation links
@mixin menu-opened {
    // Active navigate--opened
    &--opened {
        position: relative;
        transform: scale(1);
        margin-top: 15%;
        transition: 1s;
    }
}

// Appplied to show Log In buttons
@mixin log-opened {
    // Active Log In component in Mobile device for Menu dynamic
    position: absolute;
    transform: scale(0);
    order:4;
    &--opened {
        position: relative;
        transform: scale(1);
        width: 100%;
        transition: 1s;
    }
}

// hover line, change of color. main section
@mixin hover-line {
    &:hover {
        &::after {
            position: absolute;
            content:"";
            border: 2px solid rgba(106, 95, 255, 0.761) ;
            width: 99.5%;
            transition: color .5s ease-in-out;
        }
    }
}


