/* FONTS */
$font:'Roboto';
$family:sans-serif;
$browser-context:18px; // Size default for the HTML document
$primary-text:#ffffff;
$secundary-text:#75818E;
$tertiary-text:#94A2B3;

/* COLORS */
// Background colors
$background-orange: #C16300;
// general text
$primary-color:#000833;
$secundary-color:#5b6eff;

// Orange button
$orange-normal:#FF890D;
$orange-light:#FFA342;
$orange-dark:#BC6509;
$secundary-slider-button: #FFBA49;
// Green button

// Links
$links-color: #299EF3;
